button {
  border: none;
  outline: none;
  cursor: pointer;
}

body {
  text-align: center;
  background-color: black;
}

.game {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 500px;
  margin: auto;
  background: url("/img/background.png") center/cover;
  border-radius: 20px;
}

.game__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.game__button {
  width: 60px;
  height: 60px;
  background-color: wheat;
  border: 4px solid black;
  font-size: 24px;
  transition: transform 300ms ease-in;
}

.game__button:hover {
  transform: scale(1.2);
}

.game__timer {
  width: 100px;
  background-color: white;
  border: 5px solid black;
  border-radius: 20px;
  font-size: 32px;
  text-align: center;
  margin-top: 8px;
  visibility: hidden;
  user-select: none;
  cursor: auto;
}

.game__score {
  width: 50px;
  height: 50px;
  margin-top: 8px;
  font-size: 38px;
  background-color: darksalmon;
  border-radius: 50%;
  border: 3px solid black;
  color: white;
  text-align: center;
  visibility: hidden;
  user-select: none;
  cursor: auto;
}

.game__field {
  width: 100%;
  height: 100%;
  margin-top: 40px;
  position: relative;
}

.pop-up {
  width: 400px;
  height: 140px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5); /* 마지막 숫자 0.4는 투명도 (0~1) */
  border-radius: 20px;
  text-align: center;
  color: white;
  margin: auto;
  transform: translateY(-150%);
}

.pop-up--hide {
  display: none;
}

.pop-up__refresh {
  width: 60px;
  height: 60px;
  font-size: 24px;
  background-color: antiquewhite;
  border: 2px solid black;
  border-radius: 50%;
}

.pop-up__message {
  display: block;
  font-size: 3.5rem;
}

.carrot,
.bug {
  transition: transform 100ms ease-in;
}

.carrot:hover,
.bug:hover {
  transform: scale(1.1);
}
